*{
    margin: 0;
    padding: 0;
}
.background{
    background-image: linear-gradient(0deg,rgb(14, 12, 12), khaki);
    height: 100vh;
    color: #FFF;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
.calculator-background{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    padding: 15px;
}
.button{
    width: 60px;
    height: 80px;
    font-size: 30px;
    font-weight: 550;
    cursor: pointer;
    margin: 3px;
    border: none;
    color: #FFF;
}
.bt-number{
    background-color: rgb(31, 31, 31);
}
.bt-number:hover{
    background-color: black;
}
.bt-function{
    background-color: rgb(255, 136, 39);
}
.bt-function:hover{
    background-color: rgba(223, 102, 3, 0.836);
}
.wide-bt{
   width: 128px;
}
.high-bt{
    height: 168px;
}
#result{
    background-color: #FFF;
    width: 255px;
    height: 30px;
    font-size: 25px;
    color: black;
    text-align: end;
    margin: 10px 5px 15px 5px;
    padding: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
}
