*{
    margin: 0;
    padding: 0;
}
.background{
    background-image: linear-gradient(0deg,rgb(14, 12, 12), khaki);
    height: 100vh;
    color: #FFF;
    font-family: 'Courier New', Courier, monospace;
}